<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">User Search Result</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10%">Id</th>
                        <th style="width: 40%">Name</th>
                        <th style="width: 10%">Username</th>
                        <th style="width: 20%">Type</th>
                        <th style="width: 10%">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${userList}">
                        <tr>
                            <td th:text="${user.id}">...</td>
                            <td th:text="${user.name}">...</td>
                            <td th:text="${user.username}">...</td>
                            <td th:text="${user.userType}">...</td>
                            <td>
                                <a class="btn btn-block btn-outline-danger" th:href="@{/admin/user/(id=${user.id},action='delete')}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>